<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">
        <h5 class="white-text">About me!</h5>
        <p class="grey-text text-lighten-4">AKASH VERMA</p>
        <p class="grey-text text-lighten-4">IET-DAVV, Indore</p>
      </div>
      <div class="col s12 m4 l3">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><i class="fab fa-facebook"></i><a class="grey-text text-lighten-4"
              href="https://www.facebook.com/profile.php?id=100006881080266"> Facebook</a></li>
          <li><i class="fab fa-instagram"></i><a class="grey-text text-lighten-4"
              href="https://www.instagram.com/akash_verma.20/"> Instagram</a></li>
          <li><i class="fab fa-github"></i><a class="grey-text text-lighten-4" href="https://github.com/AkashVerma1515">
              Github</a></li>
          <li><i class="fab fa-linkedin"></i><a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/akashverma514739192"> Linkedin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Akash Verma
      <a class="grey-text text-lighten-4 right" href="#">Click here to GO UP</a>
    </div>
  </div>
</footer>